* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }

body{background-image: url(design/teglafal.jpg);
}

main{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(rgb(66, 142, 112));
    display:grid;
    grid-gap: 20px;   
    grid-template-areas:"h h"
                        "a n "
                        "f f";

}
nav{background-color: rgb(66, 57, 57);
    color: red;}

nav li{
    list-style:none;
    border: 1px solid white;
    border-radius: 5px;
    color: red;
    

}
nav a{text-decoration: none;}

nav li:hover {
    background-color:lightgray;
}
nav a:hover{
    color: white;
}


header{color:beige;
background-image: url(design/beer-new_401732638.jpg);
height: 300px;
background-size: cover;
font-family: Garamond;
font-size: 32px;
margin-top: 30px;
margin-bottom: 30px;
grid-area: h;
}

article{
    color: white;
    background-color: black;
    grid-area: a;
}
h1{
    font-size: 15px;
}
.kep{
    float: left;
}
footer{
    background-color: rgb(75, 73, 73);
    text-align: center;
    color: white;
    padding: 10px;
    grid-area: f;
}

th{
    text-align: center;
    border: 1px solid gray;
}

td{
    text-align: center;
    border: 1px solid gray;
}

table{border-collapse:collapse;}

.Masodik{background-color: gray;}

